# Preprocessing of the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import datetime
import sklearn

Import the data for the NJ train network. Month of March 2018. Drop the observations with NaN delay.

In [2]:
df = pd.read_csv('2018_03.csv')
df.dropna(subset=['delay_minutes'], inplace=True)
df.reset_index(drop=True, inplace=True)

Encoding the days of the week (0 : Monday ..., 6 : Sunday)

In [3]:
day = []
time = []

for (k,v) in enumerate(df['actual_time']):
    aux = datetime.datetime.strptime(v, '%Y-%m-%d %H:%M:%S')
    time_only = aux.time()
    day.append(aux.weekday())
    time_in_min = time_only.hour*60 + time_only.minute
    time.append(time_in_min)
    
df['day'] = day
df['time'] = time

In [4]:
df.head(n=5)

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,status,line,type,day,time
0,2018-03-01,3805,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,departed,Northeast Corrdr,NJ Transit,4,81
1,2018-03-01,3805,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,departed,Northeast Corrdr,NJ Transit,4,91
2,2018-03-01,3805,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,departed,Northeast Corrdr,NJ Transit,4,100
3,2018-03-01,3805,4.0,Newark Penn Station,107,Newark Airport,37953,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,departed,Northeast Corrdr,NJ Transit,4,105
4,2018-03-01,3805,5.0,Newark Airport,37953,North Elizabeth,109,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,departed,Northeast Corrdr,NJ Transit,4,109

Encoding the line names and the departure station with label encoding

In [5]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

df['line'] = le.fit_transform(df['line'])
df['from_id'] = le.fit_transform(df['from_id'])
df['train_id'] = le.fit_transform(df['train_id'])

In [6]:
df.head(n=40)

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,status,line,type,day,time
0,2018-03-01,562,1.0,New York Penn Station,97,New York Penn Station,105,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,departed,7,NJ Transit,4,81
1,2018-03-01,562,2.0,New York Penn Station,97,Secaucus Upper Lvl,38187,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,departed,7,NJ Transit,4,91
2,2018-03-01,562,3.0,Secaucus Upper Lvl,159,Newark Penn Station,107,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,departed,7,NJ Transit,4,100
3,2018-03-01,562,4.0,Newark Penn Station,99,Newark Airport,37953,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,departed,7,NJ Transit,4,105
4,2018-03-01,562,5.0,Newark Airport,155,North Elizabeth,109,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,departed,7,NJ Transit,4,109
5,2018-03-01,562,6.0,North Elizabeth,101,Elizabeth,41,2018-03-02 01:52:00,2018-03-02 01:52:01,0.016667,departed,7,NJ Transit,4,112
6,2018-03-01,562,7.0,Elizabeth,38,Linden,70,2018-03-02 01:58:00,2018-03-02 01:58:05,0.083333,departed,7,NJ Transit,4,118
7,2018-03-01,562,8.0,Linden,64,Rahway,127,2018-03-02 02:02:00,2018-03-02 02:01:03,0.000000,departed,7,NJ Transit,4,121
8,2018-03-01,562,9.0,Rahway,119,Metropark,83,2018-03-02 02:08:00,2018-03-02 02:08:00,0.000000,departed,7,NJ Transit,4,128
9,2018-03-01,562,10.0,Metropark,75,Metuchen,84,2018-03-02 02:13:00,2018-03-02 02:13:10,0.166667,departed,7,NJ Transit,4,133
10,2018-03-01,562,11.0,Metuchen,76,Edison,38,2018-03-02 02:18:00,2018-03-02 02:18:09,0.150000,departed,7,NJ Transit,4,138
11,2018-03-01,562,12.0,Edison,35,New Brunswick,103,2018-03-02 02:23:00,2018-03-02 02:23:09,0.150000,departed,7,NJ Transit,4,143
12,2018-03-01,562,13.0,New Brunswick,95,Jersey Avenue,32906,2018-03-02 02:28:00,2018-03-02 02:28:08,0.133333,departed,7,NJ Transit,4,148
13,2018-03-01,562,14.0,Jersey Avenue,153,Princeton Junction,125,2018-03-02 02:42:00,2018-03-02 02:33:08,0.000000,departed,7,NJ Transit,4,153
14,2018-03-01,562,15.0,Princeton Junction,117,Hamilton,32905,2018-03-02 02:49:00,2018-03-02 02:39:03,0.000000,departed,7,NJ Transit,4,159
15,2018-03-01,562,16.0,Hamilton,152,Trenton,148,2018-03-02 03:06:00,2018-03-02 02:42:00,0.000000,estimated,7,NJ Transit,4,162
16,2018-03-01,443,1.0,Bay Head,11,Bay Head,13,2018-03-01 14:05:00,2018-03-01 14:06:03,1.050000,departed,6,NJ Transit,3,846
17,2018-03-01,443,2.0,Bay Head,11,Point Pleasant Beach,122,2018-03-01 14:09:00,2018-03-01 14:12:03,3.050000,departed,6,NJ Transit,3,852
18,2018-03-01,443,3.0,Point Pleasant Beach,114,Manasquan,79,2018-03-01 14:14:00,2018-03-01 14:17:10,3.166667,departed,6,NJ Transit,3,857
19,2018-03-01,443,4.0,Manasquan,73,Spring Lake,141,2018-03-01 14:18:00,2018-03-01 14:21:02,3.033333,departed,6,NJ Transit,3,861
20,2018-03-01,443,5.0,Spring Lake,132,Belmar,15,2018-03-01 14:22:00,2018-03-01 14:24:05,2.083333,departed,6,NJ Transit,3,864
21,2018-03-01,443,6.0,Belmar,13,Bradley Beach,22,2018-03-01 14:26:00,2018-03-01 14:28:06,2.100000,departed,6,NJ Transit,3,868
22,2018-03-01,443,7.0,Bradley Beach,19,Asbury Park,8,2018-03-01 14:29:00,2018-03-01 14:30:08,1.133333,departed,6,NJ Transit,3,870
23,2018-03-01,443,8.0,Asbury Park,6,Allenhurst,4,2018-03-01 14:33:00,2018-03-01 14:34:07,1.116667,departed,6,NJ Transit,3,874
24,2018-03-01,443,9.0,Allenhurst,3,Elberon,40,2018-03-01 14:37:00,2018-03-01 14:38:06,1.100000,departed,6,NJ Transit,3,878
25,2018-03-01,443,10.0,Elberon,37,Long Branch,74,2018-03-01 14:42:00,2018-03-01 14:42:10,0.166667,departed,6,NJ Transit,3,882
26,2018-03-01,443,11.0,Long Branch,68,Little Silver,73,2018-03-01 14:49:00,2018-03-01 14:50:02,1.033333,departed,6,NJ Transit,3,890
27,2018-03-01,443,12.0,Little Silver,67,Red Bank,130,2018-03-01 14:54:00,2018-03-01 14:54:09,0.150000,departed,6,NJ Transit,3,894
28,2018-03-01,443,13.0,Red Bank,122,Middletown NJ,85,2018-03-01 15:00:00,2018-03-01 15:00:01,0.016667,departed,6,NJ Transit,3,900
29,2018-03-01,443,14.0,Middletown NJ,77,Aberdeen-Matawan,37169,2018-03-01 15:08:00,2018-03-01 15:08:09,0.150000,departed,6,NJ Transit,3,908
30,2018-03-01,443,15.0,Aberdeen-Matawan,154,South Amboy,139,2018-03-01 15:18:00,2018-03-01 15:17:11,0.000000,departed,6,NJ Transit,3,917
31,2018-03-01,443,16.0,South Amboy,130,Woodbridge,158,2018-03-01 15:26:00,2018-03-01 15:26:05,0.083333,departed,6,NJ Transit,3,926
32,2018-03-01,443,17.0,Woodbridge,149,Newark Airport,37953,2018-03-01 15:43:00,2018-03-01 15:44:07,1.116667,departed,6,NJ Transit,3,944
33,2018-03-01,443,18.0,Newark Airport,155,Newark Penn Station,107,2018-03-01 15:49:00,2018-03-01 15:49:03,0.050000,departed,6,NJ Transit,3,949
34,2018-03-01,443,19.0,Newark Penn Station,99,Hoboken,63,2018-03-01 16:14:00,2018-03-01 16:13:00,0.000000,estimated,6,NJ Transit,3,973
35,2018-03-01,227,1.0,Hoboken,58,Hoboken,63,2018-03-01 07:35:00,2018-03-01 07:34:11,0.000000,departed,3,NJ Transit,3,454
36,2018-03-01,227,2.0,Hoboken,58,Secaucus Lower Lvl,38174,2018-03-01 07:45:00,2018-03-01 07:46:13,1.216667,departed,3,NJ Transit,3,466
37,2018-03-01,227,3.0,Secaucus Lower Lvl,158,Kingsland,66,2018-03-01 07:52:00,2018-03-01 07:53:18,1.300000,departed,3,NJ Transit,3,473
38,2018-03-01,227,4.0,Kingsland,60,Lyndhurst,75,2018-03-01 07:54:00,2018-03-01 07:55:21,1.350000,departed,3,NJ Transit,3,475
39,2018-03-01,227,5.0,Lyndhurst,69,Delawanna,33,2018-03-01 07:57:00,2018-03-01 07:58:12,1.200000,departed,3,NJ Transit,3,478

In [7]:
df.drop(columns = ['date','from','to','to_id','scheduled_time','status','type','actual_time'], inplace = True)

In [8]:
df.head(n=50)
#len(df)

    train_id  stop_sequence  from_id  delay_minutes  line  day  time
0        562            1.0       97       0.000000     7    4    81
1        562            2.0       97       0.133333     7    4    91
2        562            3.0      159       0.116667     7    4   100
3        562            4.0       99       0.166667     7    4   105
4        562            5.0      155       0.166667     7    4   109
5        562            6.0      101       0.016667     7    4   112
6        562            7.0       38       0.083333     7    4   118
7        562            8.0       64       0.000000     7    4   121
8        562            9.0      119       0.000000     7    4   128
9        562           10.0       75       0.166667     7    4   133
10       562           11.0       76       0.150000     7    4   138
11       562           12.0       35       0.150000     7    4   143
12       562           13.0       95       0.133333     7    4   148
13       562           14.0      153       0.000000     7    4   153
14       562           15.0      117       0.000000     7    4   159
15       562           16.0      152       0.000000     7    4   162
16       443            1.0       11       1.050000     6    3   846
17       443            2.0       11       3.050000     6    3   852
18       443            3.0      114       3.166667     6    3   857
19       443            4.0       73       3.033333     6    3   861
20       443            5.0      132       2.083333     6    3   864
21       443            6.0       13       2.100000     6    3   868
22       443            7.0       19       1.133333     6    3   870
23       443            8.0        6       1.116667     6    3   874
24       443            9.0        3       1.100000     6    3   878
25       443           10.0       37       0.166667     6    3   882
26       443           11.0       68       1.033333     6    3   890
27       443           12.0       67       0.150000     6    3   894
28       443           13.0      122       0.016667     6    3   900
29       443           14.0       77       0.150000     6    3   908
30       443           15.0      154       0.000000     6    3   917
31       443           16.0      130       0.083333     6    3   926
32       443           17.0      149       1.116667     6    3   944
33       443           18.0      155       0.050000     6    3   949
34       443           19.0       99       0.000000     6    3   973
35       227            1.0       58       0.000000     3    3   454
36       227            2.0       58       1.216667     3    3   466
37       227            3.0      158       1.300000     3    3   473
38       227            4.0       60       1.350000     3    3   475
39       227            5.0       69       1.200000     3    3   478
40       227            6.0       30       1.250000     3    3   481
41       227            7.0      107       0.266667     3    3   484
42       227            8.0       26       1.266667     3    3   490
43       227            9.0      108       1.250000     3    3   495
44       227           10.0       53       0.333333     3    3   498
45       227           11.0       49       0.000000     3    3   502
46       227           12.0      123       0.266667     3    3   506
47       227           13.0       59       2.233333     3    3   511
48       227           14.0      142       2.266667     3    3   514
49       227           15.0        2       3.283333     3    3   519

In [11]:
x = df['time'].as_matrix()

C:\Users\Linah Charif\Anaconda3\envs\ntds_2019\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.